body{
    margin: 0;
    text-align: center;
}

.top-container{
    background-color: 2D2727 ;
    background-image: url('Site_Natan\ 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    padding: 10px;
    position: relative;
    height: 600px;
}

.middle-container{
    background-color: #301B3F;
}

.bottom-container{
    background-color: #8F43EE;
}

.profile{
    background-color: #151515;
}

h1{
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    color:#ffd700;
}

.sub-head{
    margin:  0;
    font-family: 'Rubik Iso', cursive;
    color: #ffd700;
}

.top-planet{
    width: 10%;
    height: auto;
    position: absolute;
    left: 70%;
    bottom: 40%;
}

#astronaut{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;

}

.bottom-planet{
    width: 10%;
    height: auto;
    position: absolute;
    right: 70%;
    top: 40%;
}

p{
    font-family: 'Rubik Iso', cursive;
    color: #ffd700;
    margin: 0;
}

h2{
    font-family: 'Climate Crisis', cursive;
    color:#ffd700;
    margin: 0;
}

h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ffd700;
}

#foto-natan{
    width: 300px;
    height: 300px;
    margin: 0;
}

#table-formações{
    width: 100px;
    color: #ffd700;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin: 0 auto
}

.planet{
    display: block;
    margin: 0 auto;
}

.gold-space{
    width: 150px;
    height: 150px;
    margin: 0;
}

.black-star{
    color: #151515;
}

.skill-link{
    position: relative;
    top: 120px;
}

hr{
    height: 100px;
    background: url('margem.png') repeat-x center;
    display: block;
    border: none;
    margin: 20px 0;

}

th,td{
    padding: 20px;
}

a:link{
    color: #CBE4DE;
}

a:active{
    color:red
}

a:hover{
    color: aliceblue;
}

a:visited{
    color: greenyellow;
}
